<!DOCTYPE html>
<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script>
document.addEventListener('DOMContentLoaded', () => {

  /*
   * Msg
   */
  const Msg = {
    RESTAURANTS_RESP: function (...args) { this.args = args; },
    VOTE_CLICK: function (...args) { this.args = args; },
    UPVOTE_RESP: function (...args) { this.args = args; },
  };


  /*
   * init
   */
  const init = () => {
    return [
      { restaurants: [] },
      [
        GraphQL(Msg.RESTAURANTS_RESP, `
          query {
            restaurants {
              uuid
              name
              todayVotes {
                weight
                user {
                  uuid
                }
              }
            }
          }`)
      ]
    ];
  };


  /*
   * Update
   */
  const update = (model, msg) => {
    switch (msg.constructor) {
      case Msg.RESTAURANTS_RESP:
        const restaurants = msg.args[0].data.restaurants;
        return [
          updateRestaurants(restaurants, model),
          []
        ];

      case Msg.VOTE_CLICK:
        return [
          model,
          [
            GraphQL(Msg.UPVOTE_RESP, `
              mutation upvoteRestaurant($input: UpvoteRestaurantInput!) {
                upvoteRestaurant(input: $input) {
                  vote {
                    restaurant {
                      uuid
                      name
                      todayVotes {
                        weight
                        user {
                          uuid
                        }
                      }
                    }
                  }
                }
              }
              `, {
                input: { restaurantUuid: msg.args[0] }
              })
          ]
        ];

      case Msg.UPVOTE_RESP:
        return [
          updateSingleRestaurant(msg.args[0].data.upvoteRestaurant.vote.restaurant, model),
          []
        ];
    }
    return [model, []];
  };

  const updateSingleRestaurant = (restaurant, model) => {
    const restaurants = sortRestaurants(model.restaurants.map(
      (r) => (r.uuid === restaurant.uuid) ? hydrateRestaurant(restaurant) : r
    ));
    return {...model, restaurants};
  };

  const updateRestaurants = (restaurants, model) => {
    return {
      ...model,
      restaurants: sortRestaurants(restaurants.map(hydrateRestaurant))
    };
  }

  const hydrateRestaurant = (restaurant) => {
    let todayVotesWeight = 0;
    const users = new Set();
    restaurant.todayVotes.forEach(({weight, user: { uuid }}) => {
      todayVotesWeight += parseFloat(weight);
      users.add(uuid);
    });
    return {...restaurant, todayVotesWeight, todayVotesUsers: users.size}
  };

  const sortRestaurants = (restaurants) => Array.of(...restaurants).sort(
    (a, b) => {
      if (a.todayVotesWeight < b.todayVotesWeight) return 1;
      if (a.todayVotesWeight > b.todayVotesWeight) return -1;
      if (a.todayVotesUsers < b.todayVotesUsers) return 1;
      if (a.todayVotesUsers > b.todayVotesUsers) return -1;
      if (a.name < b.name) return -1;
      if (a.name > b.name) return 1;
      return 0;
    });


  /*
   * View
   */
  const view = ({restaurants}) => {
    return restaurantsList(restaurants);
  };

  const restaurantsList = (list) => {
    return `
      <table class="restaurantsList">
        <tr>
          <th>Restaurant</th>
          <th>Votes weight</th>
          <th>Users voted</th>
          <th></th>
        </tr>
        ${list.map(restaurantsListItem).join('')}
      </table>
    `;
  }

  const restaurantsListItem = ({uuid, name, todayVotesWeight, todayVotesUsers}) => {
    return `
      <tr class="restaurantsListItem" id="${uuid}">
        <td>${name}</td>
        <td>${todayVotesWeight}</td>
        <td>${todayVotesUsers}</td>
        <td>${voteButton(uuid)}</td>
      </tr>
    `;
  };

  const voteButton = (uuid) => {
    return `
      <button class="voteButton" onClick="window.app.handleEvent('VOTE_CLICK', '${uuid}')">
        Vote
      </button>
    `;
  };


  /*
   * Utils
   */
  class App {
    constructor(init, update, view, msgType, node) {
      this.init = init;
      this.update = update;
      this.view = view;
      this.msgType = msgType;
      this.node = node;
      this.model = null;
      this.commands = [];
    }

    start() {
      this.execute(this.init)
    }

    execute(fn) {
      const [model, commands] = fn();
      this.model = model;
      this.pushCommands(commands);
      this.render();
      this.handleCommands();
    }

    pushCommands(commands) {
      // TODO: handle invalid input
      this.commands.push(...commands);
    }

    render() {
      const html = this.view(this.model);
      this.node.innerHTML = html;
    }

    handleCommands() {
      if (!this.commands.length) return;
      const cmd = this.commands.shift();
      this.executeCommand(cmd);
      this.handleCommands();
    }

    executeCommand(cmd) {
      new Promise((resolve) => {
        resolve(cmd.fn(...cmd.args))
      }).then((val) => this.handleMessage(new cmd.msg(val)));
    }

    handleMessage(msg) {
      this.execute(() => this.update(this.model, msg));
    }

    handleEvent(name, ...args) {
      const ctor = this.msgType[name];
      const msg = new ctor(...args);
      this.handleMessage(msg);
    }
  };

  function Messages  (names)  {
    const result = {};
    for (const name of names) {
      const msgType = (...args) => ([name, ...args]);
      msgType.name = name;
      result[name] = msgType;
    }
    return result;
  };

  const Cmd = (fn) => (msg, ...args) => {
    return {fn, msg, args};
  };

  const FetchCmd = Cmd((url, opts) => {
    return fetch(url, opts).then(resp=>resp.json());
  });

  const GraphQL = (msg, query, variables) =>
    FetchCmd(msg, '/api/graphql', {
      method: 'post',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ query, variables })
    });


  /*
   * App
   */
  window.app = new App(init, update, view, Msg, document.getElementById('app'));
  window.app.start();
});
    </script>
  </body>
</html>
